.education-section {
    margin-top: 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    background-color: #f3f4f6;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
}

.education-info {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.education-info>.left {
    min-width: 40%;
}

.right>p:nth-of-type(1) {
    font-weight: 600;
}